@media (min-width: 769px) {
	.main-header,
	.main-nav,
	.row {
		display: flex;
	}


	.main-header {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.row{
	display: flex;
	align-items: center;
	justify-content: center;
}

